# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
/node_modules
/.env
/.vscode
# Gatsby files
.cache/

# Public static content
public/images
public/documents